node-red/flows.json
[{"id":"b0e24aa1.04d2a8","type":"tab","label":"Experiment Flow","disabled":false,"info":""},{"id":"fe8acc3b.916c8","type":"tab","label":"Water Sensors Flow","disabled":false,"info":""},{"id":"a90cbabe.795128","type":"tab","label":"Lights By Motion control","disabled":false,"info":""},{"id":"12a4a4d9.8b53ab","type":"tab","label":"Main Flow","disabled":false,"info":""},{"id":"3cf98703.eaace8","type":"server","z":"","name":"Home Assistant","legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"cd12ee84.cfeed","type":"telegram bot","z":"","botname":"imagazin_control_bot","usernames":"","chatids":"824347982","baseapiurl":"","updatemode":"polling","pollinterval":"1000","usesocks":true,"sockshost":"$(PROXY_HOST)","socksport":"1080","socksusername":"proxy","sockspassword":"$(PROXY_PASSWD)","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":true},{"id":"7c422a8.c17a5d4","type":"chatbot-telegram-node","z":"","botname":"","usernames":"","providerToken":"","polling":"1000","store":"","log":"","debug":false,"webHook":"","connectMode":"polling"},{"id":"a099364f.6d4dd8","type":"api-call-service","z":"b0e24aa1.04d2a8","name":"toggle gateway light","server":"3cf98703.eaace8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.gateway_light_286c0788bafc","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":840,"y":280,"wires":[[]]},{"id":"42fedfe9.67102","type":"api-call-service","z":"b0e24aa1.04d2a8","name":"toggle gateway light","server":"3cf98703.eaace8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.gateway_light_286c0788bafc","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":820,"y":360,"wires":[[]]},{"id":"deefcbcf.919848","type":"telegram command","z":"b0e24aa1.04d2a8","name":"on","command":"/on","bot":"cd12ee84.cfeed","strict":false,"hasresponse":true,"x":310,"y":240,"wires":[["a099364f.6d4dd8"],[]]},{"id":"8c76ad8a.530dc","type":"telegram command","z":"b0e24aa1.04d2a8","name":"off","command":"/off","bot":"cd12ee84.cfeed","strict":false,"hasresponse":true,"x":310,"y":320,"wires":[["42fedfe9.67102"],[]]},{"id":"9d982960.683398","type":"telegram sender","z":"fe8acc3b.916c8","name":"Sender","bot":"cd12ee84.cfeed","x":1520,"y":260,"wires":[[]]},{"id":"ccff4574.24db88","type":"server-state-changed","z":"fe8acc3b.916c8","name":"If water detected","server":"3cf98703.eaace8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.water_leak_sensor_158d00045ad2e1","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":120,"y":60,"wires":[["654ec068.edbb3","fc12e6a6.01d428"],[]]},{"id":"654ec068.edbb3","type":"looptimer","z":"fe8acc3b.916c8","duration":"10","units":"Second","maxloops":"1000","maxtimeout":"1","maxtimeoutunits":"Minute","name":"","x":600,"y":60,"wires":[["f2c4fe53.3233e"],[]]},{"id":"c8c9d6c3.274458","type":"telegram command","z":"fe8acc3b.916c8","name":"Water leak accepted command","command":"/accept","bot":"cd12ee84.cfeed","strict":false,"hasresponse":true,"x":130,"y":480,"wires":[["7bf2afad.6fed3","7addbac2.d4f484"],[]]},{"id":"7bf2afad.6fed3","type":"function","z":"fe8acc3b.916c8","name":"send stop command","func":"msg.payload = \"STOP\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":260,"wires":[["654ec068.edbb3"]]},{"id":"e63626aa.33d658","type":"server-state-changed","z":"fe8acc3b.916c8","name":"If water dection canceled","server":"3cf98703.eaace8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.water_leak_sensor_158d00045ad2e1","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":110,"y":360,"wires":[["7bf2afad.6fed3","6247ddff.a3ec64"],[]]},{"id":"6247ddff.a3ec64","type":"function","z":"fe8acc3b.916c8","name":"Water detector senser no longer see water","func":"msg.payload = \"Датчик протечки воды больше не детектирует воду\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":360,"wires":[["79bd83fc.1eb78c"]]},{"id":"79bd83fc.1eb78c","type":"function","z":"fe8acc3b.916c8","name":"send message with custom content","func":"var telegram_chatId = global.get(\"telegram_chat_id\")\nmsg.payload = {chatId : telegram_chatId, type: 'message', content: msg.payload}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1200,"y":320,"wires":[["9d982960.683398","dec5f9bb.6cbc58"]]},{"id":"7addbac2.d4f484","type":"function","z":"fe8acc3b.916c8","name":"Send water leak confirmed by user","func":"msg.payload = \"Предупреждение подтверждено пользователем\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":480,"wires":[["79bd83fc.1eb78c"]]},{"id":"dec5f9bb.6cbc58","type":"debug","z":"fe8acc3b.916c8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1540,"y":360,"wires":[]},{"id":"a26f5027.1df38","type":"server-state-changed","z":"a90cbabe.795128","name":"If entrance motion","server":"3cf98703.eaace8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.motion_sensor_158d0003f4c4c1","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":130,"y":60,"wires":[["95ce1f6d.bd8f6"],[]]},{"id":"8108f01a.734c1","type":"api-call-service","z":"a90cbabe.795128","name":"Entrance light on","server":"3cf98703.eaace8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.entrance_bulb","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":590,"y":60,"wires":[["c546e32.18c192"]]},{"id":"95ce1f6d.bd8f6","type":"api-current-state","z":"a90cbabe.795128","name":"and if not light on","server":"3cf98703.eaace8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"light.entrance_bulb","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":370,"y":60,"wires":[["8108f01a.734c1"],[]]},{"id":"c546e32.18c192","type":"ha-wait-until","z":"a90cbabe.795128","name":"","server":"3cf98703.eaace8","outputs":1,"entityId":"binary_sensor.motion_sensor_158d0003f4c4c1","entityIdFilterType":"exact","property":"state","comparator":"is","value":"off","valueType":"str","timeout":0,"timeoutType":"num","timeoutUnits":"seconds","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":800,"y":60,"wires":[["1d3af10a.245e3f"]]},{"id":"1d3af10a.245e3f","type":"api-call-service","z":"a90cbabe.795128","name":"Entrance light off","server":"3cf98703.eaace8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.entrance_bulb","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1010,"y":60,"wires":[[]]},{"id":"fc12e6a6.01d428","type":"function","z":"fe8acc3b.916c8","name":"Mobile phone caller","func":"var phone_number = global.get(\"host_mobile_phone\")\nmsg.payload = {\"data\": {\n    \"message\": \"Water Detected Alert\",\n    \"target\": phone_number\n}}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":120,"wires":[["2f31b28d.52971e","dec5f9bb.6cbc58"]]},{"id":"2f31b28d.52971e","type":"api-call-service","z":"fe8acc3b.916c8","name":"","server":"3cf98703.eaace8","version":1,"debugenabled":true,"service_domain":"notify","service":"twilio_caller","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1560,"y":160,"wires":[[]]},{"id":"82a78505.e24808","type":"api-call-service","z":"b0e24aa1.04d2a8","name":"toggle gateway light","server":"3cf98703.eaace8","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.gateway_light_286c0788bafc","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":800,"y":440,"wires":[[]]},{"id":"b79d1934.5a9548","type":"server-state-changed","z":"b0e24aa1.04d2a8","name":"If button pressed","server":"3cf98703.eaace8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.switch_158d0003d166bc","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":300,"y":440,"wires":[["82a78505.e24808","38696c7b.b684a4"],[]]},{"id":"38696c7b.b684a4","type":"debug","z":"b0e24aa1.04d2a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":480,"wires":[]},{"id":"ca22448d.8a9ff8","type":"server-state-changed","z":"b0e24aa1.04d2a8","d":true,"name":"If button pressed","server":"3cf98703.eaace8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.switch_158d0003d166bc","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":260,"y":880,"wires":[["83107e03.672b"],[]]},{"id":"83107e03.672b","type":"function","z":"b0e24aa1.04d2a8","name":"","func":"msg.payload = \"Ololo\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":880,"wires":[["7e4da83f.43ecd8"]]},{"id":"7e4da83f.43ecd8","type":"function","z":"b0e24aa1.04d2a8","name":"Message with custom content","func":"var chat_id = global.get(\"telegram_chat_id\")\nmsg.payload = {chatId :chat_id, type: 'message', content: msg.payload}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":880,"wires":[["f7b6582.a4f12a8"]]},{"id":"f7b6582.a4f12a8","type":"debug","z":"b0e24aa1.04d2a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1110,"y":860,"wires":[]},{"id":"f2c4fe53.3233e","type":"function","z":"fe8acc3b.916c8","name":"Water detector senser no longer see water","func":"msg.payload = \"Внимание!!! Обнаружена протечка воды!\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":950,"y":60,"wires":[["79bd83fc.1eb78c"]]},{"id":"c565fc28.5857c","type":"inject","z":"12a4a4d9.8b53ab","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":80,"wires":[["20d1c9ef.ffbf76"]]},{"id":"20d1c9ef.ffbf76","type":"credentials","z":"12a4a4d9.8b53ab","name":"Secrets","props":[{"value":"telegram_chat_id","type":"global"},{"value":"host_mobile_phone","type":"global"}],"x":500,"y":80,"wires":[[]]},{"id":"e7c250a1.3fa9","type":"server-state-changed","z":"b0e24aa1.04d2a8","name":"If door opened","server":"3cf98703.eaace8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.door_window_sensor_158d00041bc65d","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":250,"y":600,"wires":[["7e34b174.68307"],[]]},{"id":"902b0bcd.103628","type":"telegram sender","z":"b0e24aa1.04d2a8","name":"Sender","bot":"cd12ee84.cfeed","x":1120,"y":540,"wires":[["57795600.42303c"]]},{"id":"9fe2596a.c9ffe8","type":"function","z":"b0e24aa1.04d2a8","name":"send message with custom content","func":"var telegram_chatId = global.get(\"telegram_chat_id\")\nmsg.payload = {chatId : telegram_chatId, type: 'message', content: msg.payload}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":600,"wires":[["902b0bcd.103628","460f8694.479858"]]},{"id":"460f8694.479858","type":"debug","z":"b0e24aa1.04d2a8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1140,"y":640,"wires":[]},{"id":"7e34b174.68307","type":"function","z":"b0e24aa1.04d2a8","name":"","func":"msg.payload = \"Входная дверь открыта\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":600,"wires":[["9fe2596a.c9ffe8"]]},{"id":"cc8747f8.b62578","type":"server-state-changed","z":"b0e24aa1.04d2a8","name":"If door closed","server":"3cf98703.eaace8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.door_window_sensor_158d00041bc65d","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":250,"y":720,"wires":[["774f1913.a6b128"],[]]},{"id":"774f1913.a6b128","type":"function","z":"b0e24aa1.04d2a8","name":"","func":"msg.payload = \"Входная дверь закрыта\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":720,"wires":[["9fe2596a.c9ffe8"]]},{"id":"57795600.42303c","type":"debug","z":"b0e24aa1.04d2a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1350,"y":540,"wires":[]},{"id":"b3436aca.f25788","type":"server-state-changed","z":"b0e24aa1.04d2a8","name":"If button pressed","server":"3cf98703.eaace8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.switch_158d0003d166bc","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":260,"y":980,"wires":[["472b6f64.c1631"],[]]},{"id":"472b6f64.c1631","type":"function","z":"b0e24aa1.04d2a8","name":"","func":"msg.payload = \"Ololo\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":980,"wires":[["b240fa8c.9ec908"]]},{"id":"b240fa8c.9ec908","type":"function","z":"b0e24aa1.04d2a8","name":"Message with custom content","func":"var chat_id = global.get(\"env\")\nmsg.payload = {chatId :chat_id, type: 'message', content: msg.payload}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":980,"wires":[["f7b6582.a4f12a8"]]}]